<div class="container">
    <div class="card">
      <div class="card-header bg-info">
        Apps.
      </div>
      <div class="card-body">
        <form #form="ngForm">
          <div class="form-group">
            <label for="name" class="col-form-label col-form-label-sm">Name:</label>
            <input type="text" 
            id="name" 
            required
            class="form-control form-control-sm" name="name" 
            #name="ngModel" #spy ngModel>
            <div *ngIf="!name.valid" class="alert alert-danger" role="alert">
                * required
              </div>
          </div>
          <div class="form-group">
            <label for="codigo" class="col-form-label col-form-label-sm">Codigo:</label>
            <input type="text" 
            id="codigo" 
            class="form-control form-control-sm"
            name="codigo"
            required
            #codigoSpy
            #codigo ="ngModel"
            ngModel>
            <div *ngIf="!codigo.valid && codigo.touched" class="alert alert-danger"> 
              * required
            </div>
          </div>
          <div ngModelGroup="contacto" #attrContacto="ngModelGroup">
            <div class="form-group">
              <label for="telefono">Telefono:</label>
              <input type="text" id="telefono" class="form-control form-control-sm" name="telefono" #telefono ngModel>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" id="email" class="form-control form-control-sm" name="email" #attrEmail ngModel>
            </div>
          </div>

          <button type="button" class="btn btn-primary btn-sm">Add</button>
        </form>
        <aside class="container">
          <em class="row">Value</em>
          <code class="row"><strong>Name: {{ spy.className }}</strong></code>
          <code class="row"><strong>Codigo: {{ codigoSpy.className }}</strong></code>
        </aside>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-info">
        Lista
      </div>
      <div class="card-body">
  
      </div>
    </div>
  </div>